<div id="body">
  <div class="container-fluid p-0">
    <div class="content-space">
      <div class="row">
        <div class="col-md-12">
          <p class="space-text">Articles</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container pb-4">
    <div class="row mt-4">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb custom-breadcrumb">
          <li class="breadcrumb-item">
            <a class="breadcrumb-nav" [routerLink]="/home-page">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a class="breadcrumb-nav" [routerLink]="/article-page">Articles</a>
          </li>
          <li *ngIf="article" class="breadcrumb-item active" aria-current="page">
            {{ article.title }}
          </li>
        </ol>
      </nav>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-12 text-center" *ngIf="article">
      <h4 class="content-title mb-4">{{ article.title }}</h4>

      <img class="article-image mt-4 mb-4" [src]="article.imageUrl" alt="Article Image"
        *ngIf="article.imageUrl; else noImage">

      <ng-template #noImage>
        <p class="text-muted">No image available</p>
      </ng-template>

      <div class="article-section mt-4">
        <div class="article-information text-justify">
          <p *ngIf="article.description?.length === 0" class="text-muted">
            No description available.
          </p>
          <p *ngFor="let paragraph of article.description">
            {{ paragraph }}
          </p>
        </div>
      </div>
    </div>

    <div *ngIf="!article" class="col-md-12 mt-4 text-center">
      <p>Loading article...</p>
    </div>
  </div>
</div>


<div class="floating-chat">
  <!-- Chatbox -->
  <div class="chatbox card shadow-sm" [ngClass]="{'show': isChatOpen}">
    <div class="card-header bg-success text-white d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center">
        <img src="../../assets/images/FONT LOGO.png" alt="Lisa" class="chat-avatar me-2">
        <div>
          <h6 class="mb-0">Kilo Kalori</h6>
          <small>Replies within 1 day</small>
        </div>
      </div>
      <button type="button" class="btn-close btn-close-white" (click)="toggleChat()"></button>
    </div>
    <div class="card-body">
      <p class="mb-0">Click the button below to contact me if you have any questions.</p>
    </div>
    <div class="card-footer text-center">
      <a [href]="'https://wa.me/' + whatsappNumber" target="_blank" class="btn btn-success w-100">
        <i class="fab fa-whatsapp"></i> Start chat
      </a>
    </div>
  </div>

  <!-- Floating Button -->
  <button class="btn btn-success rounded-circle p-3 shadow-lg chat-button" (click)="toggleChat()">
    <i class="fab fa-whatsapp fs-3"></i>
  </button>
</div>