<nav class="navbar navbar-expand-lg navbar-section sticky-top p-0">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="../../assets/images/FONT LOGO.png" alt="Logo" class="d-inline-block align-text-top navbar-logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-start nav-canvas" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
          <a class="navbar-brand" href="/">
            <img src="../../assets/images/FONT LOGO.png" alt="Logo" class="d-inline-block align-text-top navbar-logo">
          </a>
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
          <li class="nav-item dropdown item-anim">
            <a class="nav-link" href="/" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              CAKES
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/#/cake-products-page/Whole Cake/All">WHOLE CAKES</a></li>
              <li><a class="dropdown-item" href="/#/cake-products-page/Bento Cake/All">BENTO CAKES</a></li>
            </ul>
          </li>
          <li class="nav-item item-anim">
            <a class="nav-link" aria-current="page" href="/#/dessert-products-page/Donut">KILO DONUTS</a>
          </li>
          <li class="nav-item item-anim">
            <a class="nav-link" aria-current="page" href="/#/dessert-products-page/Tiramisu">TIRAMISU</a>
          </li>
          <li class="nav-item item-anim">
            <a class="nav-link" aria-current="page" href="/#/cake-products-page/Whole Cake/Custom">CUSTOM CAKE</a>
          </li>
          <li class="nav-item item-anim">
            <a class="nav-link" aria-current="page" href="/#/article-page">ARTICLES</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
